* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: x-large;
}

.navbar {
  background-color: #cac7c7;
  padding: 30px;
  font-size: large;
}

.social-links {
  padding: 100px;
  display: flex;
  justify-content: space-around;
}
