* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
   
    
}
body {

  transition: transform 0.3s ease;
}

body:hover {
  transform: scale(1.01); /* Hace zoom cuando pasas el ratón */
}

main {
    display: flex;
    background-color: rgba(187, 183, 183, 0.582);
    
}

.navbar {
    background-color: #cac7c7;
    padding: 30px;
    font-size: large;
    
}
.h-custom {
    height: 80vh;
    
}

.text {
    width: 40%;

}

.container-img{
    width: 50%;
}
.banner {
    margin-top: 50px;
    width: 400px; 
    height: 400px; /*  el alto y el ancho sean iguales para crear un círculo perfecto */
    border-radius: 50%; /* Esto crea el efecto circular */
    object-fit: cover;
    left: 40%;
    transform: translateX(-40%);
    filter: drop-shadow(20px 18px 18px  #12084d56);
}
.banner:hover {
    filter: drop-shadow(20px 18px 18px  #403b58);
    cursor: pointer;


    

}